/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
/* 
  ##Device = Laptops, Desktops
  ##Screen = 1025px to 1280px
*/
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = 768px to 1024px
*/
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = 481px to 767px
*/
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = 320px to 479px
*/
@media (min-width: 320px) and (max-width: 1280px) {
  body header .navbar {
    display: none;
  }
  body header .navbar-small {
    z-index: 9999999 !important;
    display: inline-block;
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 6;
    padding: 0 0;
    top: 0;
    height: 7%;
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
  }
  body header .navbar-small .container .logo {
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding: 3px;
    background-color: #120136;
    margin: 3px 0 0 0;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
  }
  body header .navbar-small .container .logo h2 {
    color: #fff;
    font-size: 16px;
    margin: 1px 0 0 0;
    padding: 3px;
    cursor: pointer;
  }
  body header .navbar-small .container .parent {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 0 40px;
  }
  body header .navbar-small .container .parent .toggle {
    -ms-flex-item-align: end;
        align-self: flex-end;
    position: absolute;
    margin: 0;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border: 3px solid #035AA6;
    border-radius: 15%;
    -webkit-border-radius: 15%;
    -moz-border-radius: 15%;
    -ms-border-radius: 15%;
    -o-border-radius: 15%;
    cursor: pointer;
    overflow: hidden;
  }
  body header .navbar-small .container .parent .toggle span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    -moz-transform: translate(-50%, -50%) rotate(0deg);
    -ms-transform: translate(-50%, -50%) rotate(0deg);
    -o-transform: translate(-50%, -50%) rotate(0deg);
    width: 60%;
    height: 4px;
    background: #262626;
    -webkit-box-shadow: 0 -8px 0 #262626, 0 8px 0 #262626;
            box-shadow: 0 -8px 0 #262626, 0 8px 0 #262626;
    -webkit-transition-property: -webkit-transform, -webkit-box-shadow;
    transition-property: -webkit-transform, -webkit-box-shadow;
    transition-property: transform, box-shadow;
    transition-property: transform, box-shadow, -webkit-transform, -webkit-box-shadow;
    -webkit-transition-delay: 0s, 1s;
            transition-delay: 0s, 1s;
    -webkit-transition-duration: 0.5s, 0.5s;
            transition-duration: 0.5s, 0.5s;
  }
  body header .navbar-small .container .parent .toggle span:before {
    content: '';
    position: absolute;
    top: -75px;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 4px;
    height: 19px;
    background: #262626;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
  }
  body header .navbar-small .container .parent .toggle.active span {
    -webkit-box-shadow: 100px -12px 0 #262626, -100px 22px 0 #262626;
            box-shadow: 100px -12px 0 #262626, -100px 22px 0 #262626;
    transform: translate(-50%, -50%) rotate(-315deg);
    -webkit-transform: translate(-50%, -50%) rotate(-315deg);
    -moz-transform: translate(-50%, -50%) rotate(-315deg);
    -ms-transform: translate(-50%, -50%) rotate(-315deg);
    -o-transform: translate(-50%, -50%) rotate(-315deg);
    -webkit-transition-property: -webkit-box-shadow, -webkit-transform;
    transition-property: -webkit-box-shadow, -webkit-transform;
    transition-property: box-shadow, transform;
    transition-property: box-shadow, transform, -webkit-box-shadow, -webkit-transform;
    -webkit-transition-delay: 0s, 0.5s;
            transition-delay: 0s, 0.5s;
    -webkit-transition-duration: 0.5s, 0.5s;
            transition-duration: 0.5s, 0.5s;
  }
  body header .navbar-small .container .parent .active span:before {
    top: 50%;
    -webkit-transition-delay: 1s;
            transition-delay: 1s;
  }
  body header .menu {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
    z-index: 5;
    font-size: 25px;
    font-weight: 900;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin: 0;
    width: 100%;
    background-color: #120136;
    list-style-type: none;
    color: #fff;
    -ms-flex-item-align: end;
        align-self: flex-end;
    overflow: hidden;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
  }
  body header .menu li {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 25px 20px;
    cursor: pointer;
  }
  body header .menu li a {
    text-decoration: none;
    color: #fff;
  }
  body header .height {
    height: 80vh;
    padding: 100px 0 0 20px;
  }
  body header .container {
    width: 90%;
    margin: auto;
    z-index: 1;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  body header .container .content {
    margin: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
  }
  body header .container .content .details ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    color: #9e9e9e;
    font-size: 26px;
    margin: 0;
    padding: 0;
  }
  body header .container .content .details ul li {
    padding: 15px;
    cursor: pointer;
  }
  body header .container .content .details h1 {
    color: #fff;
    font-size: 28px;
  }
  body header .container .content .details .border {
    position: relative;
    padding: 15px;
    display: inline-block;
  }
  body header .container .content .details .border h2 {
    color: #fff;
    font-size: 22px;
    display: inline;
  }
  body header .container .content .details .border ul {
    background-color: #120136;
  }
  body header .container .content .details .border ul li {
    padding: 0;
  }
  body header .container .content .details .border ul li:first-child {
    top: 0;
    left: 0;
    position: absolute;
    width: 0%;
    height: 5px;
    background-color: #fff;
    -webkit-animation-name: border-t-l;
            animation-name: border-t-l;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  @-webkit-keyframes border-t-l {
    100% {
      width: 100%;
    }
  }
  @keyframes border-t-l {
    100% {
      width: 100%;
    }
  }
  body header .container .content .details .border ul li:nth-child(2) {
    top: 0;
    right: 0;
    position: absolute;
    width: 1.4%;
    height: 0;
    background-color: #fff;
    -webkit-animation-name: border-t-r;
            animation-name: border-t-r;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: .7s;
            animation-delay: .7s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  @-webkit-keyframes border-t-r {
    100% {
      height: 100%;
    }
  }
  @keyframes border-t-r {
    100% {
      height: 100%;
    }
  }
  body header .container .content .details .border ul li:nth-child(3) {
    bottom: 0;
    right: 0;
    position: absolute;
    width: 0%;
    height: 7%;
    background-color: #fff;
    -webkit-animation-name: border-b-r;
            animation-name: border-b-r;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  @-webkit-keyframes border-b-r {
    100% {
      width: 100%;
    }
  }
  @keyframes border-b-r {
    100% {
      width: 100%;
    }
  }
  body header .container .content .details .border ul li:last-child {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 1.5%;
    height: 0%;
    background-color: #fff;
    -webkit-animation-name: border-b-l;
            animation-name: border-b-l;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: .7s;
            animation-delay: .7s;
  }
  @-webkit-keyframes border-b-l {
    100% {
      height: 100%;
    }
  }
  @keyframes border-b-l {
    100% {
      height: 100%;
    }
  }
  body header .container a {
    position: relative;
    -ms-flex-item-align: start;
        align-self: flex-start;
    color: #fff;
    font-size: 25px;
    padding: 15px;
  }
  body .about-me .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .about-me .container .my-photo {
    width: 100%;
    margin-bottom: 50px;
  }
  body .about-me .container .details {
    width: 100%;
  }
  body .about-me .container .details .border {
    width: 37%;
  }
  body .about-me .container .details .border h2 {
    font-size: 17px;
  }
  body .about-me .container .details p {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.6;
  }
  body .about-me .container .details .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .about-me .container .details .info .info-first-column {
    border-right: none;
    width: 100%;
  }
  body .about-me .container .details .info .info-second-column {
    width: 100%;
  }
  body .about-me .container .details .social-media ul {
    padding: 0;
    font-size: 30px;
  }
  body .about-me .container .details .social-media ul li {
    padding-right: 15px;
  }
  body .about-me .container .details .social-media .resume {
    width: 40%;
    padding: 10px;
  }
  body .about-me .container .details .social-media .resume button {
    font-size: 20px;
  }
  body .services .container .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .services .container .row div {
    width: 100%;
  }
  body .services .container .row div p {
    line-height: 1.5;
    font-size: 17px;
  }
  body .hire-me .container .border {
    width: 40%;
    top: 82%;
    left: 20%;
  }
  body .my-skills .container .details-plus-progress {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .my-skills .container .details-plus-progress .details {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .my-skills .container .details-plus-progress .details h3 {
    font-size: 22px;
  }
  body .my-skills .container .details-plus-progress .details .resume {
    width: 50%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 12px;
  }
  body .my-skills .container .details-plus-progress .details .resume button {
    font-size: 20px;
  }
  body .my-skills .container .details-plus-progress .progress {
    width: 100%;
  }
  body .my-skills .container .details-plus-progress .progress .parent .html .border {
    width: 18%;
  }
  body .my-skills .container .details-plus-progress .progress .parent .css .border {
    width: 18%;
  }
  body .my-skills .container .details-plus-progress .progress .parent .js .border {
    width: 18%;
  }
  body .my-skills .container .details-plus-progress .progress .parent .jquery .border {
    width: 18%;
  }
  body .my-skills .container .details-plus-progress .progress .parent .sass .border {
    width: 18%;
  }
  body .my-skills .container .details-plus-progress .progress .parent .angular .border {
    width: 18%;
  }
  body .portfolio .container .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .portfolio .container .row .column {
    width: 100%;
  }
  body .counters .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .counters .container div {
    width: 100%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  body .counters .container div span {
    font-size: 30px;
  }
  body .counters .container div h5 {
    font-size: 20px;
  }
  body .testimonials .container .company {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .testimonials .container .company .img {
    -ms-flex-item-align: center;
        align-self: center;
    justify-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 50px 0;
  }
  body .testimonials .container .company .img img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  body footer .container .border {
    width: 55%;
  }
  body footer .container .border h2 {
    font-size: 25px;
  }
  body footer .container .data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body footer .container .data div {
    width: 100%;
    padding: 30px 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  body footer .container .data div svg {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  body footer .container .data div h5 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-weight: bold;
    font-size: 28px;
    padding: 2px;
    margin: 10px;
  }
  body footer .container .data div span {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 3px 0;
    font-size: 17px;
  }
  body footer .container .social-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body footer .container .social-form .social {
    width: 100%;
  }
  body footer .container .social-form .social h5 {
    font-size: 25px;
  }
  body footer .container .social-form .social .icons {
    width: 100%;
  }
  body footer .container .social-form .social .icons div span:first-child {
    font-size: 17px;
  }
  body footer .container .social-form .social .icons div span:last-child {
    font-size: 17px;
  }
  body footer .container .social-form .form h5 {
    font-size: 20px;
  }
  body footer .container .social-form .form form div label {
    font-size: 15px;
  }
  body footer .container .social-form .form form div ::-webkit-input-placeholder {
    font-size: 13px;
  }
  body footer .container .social-form .form form div :-ms-input-placeholder {
    font-size: 13px;
  }
  body footer .container .social-form .form form div ::-ms-input-placeholder {
    font-size: 13px;
  }
  body footer .container .social-form .form form div ::placeholder {
    font-size: 13px;
  }
  body footer .container .social-form .form form .name-subject {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body footer .container .social-form .form button {
    font-size: 15px;
    width: 50%;
  }
}
/*# sourceMappingURL=media-query.css.map */